# Dependencies
node_modules/

# Build output
dist/

# Electron build cache
.cache/

# Environment
.env
.env.local

# OS
.DS_Store
Thumbs.db
desktop.ini

# Logs
*.log
npm-debug.log*

# Editor
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# Temp
tmp/
temp/